<h1>Posts</h1>
<%= link_to 'Profile', user_path(current_user) %>
<% @posts.each do |post| %>
  <ul>
    <li> 
      <h3>Posted by: <%= post.user.email %></h2>
      <p><%= post.body %></p>
    </li>
  </ul>
<% end %>
